<h1 class="animated fadeIn fast">Sobre Comic App </h1>
<hr>
<p class="animated fadeIn">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum suscipit numquam debitis nesciunt ut autem quas odit delectus reiciendis facilis ipsum nostrum iure minus vero officia explicabo eum, assumenda expedita? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Obcaecati fuga iusto rem reprehenderit maiores sint, omnis saepe, earum nemo consectetur quidem officia architecto natus, ea soluta et tempora. Laboriosam, porro.
</p>