<h1  class="animated fadeIn">{{heroe.nombre | uppercase}}<small> ({{heroe.aparicion | date:'y'}})</small></h1>
<hr>

<div class="row animated fadeIn ">
  <div class="col-md-4">
    <img [src]="heroe.img" class="img-fluid" alt="">
    <br><br>
    <a  class="btn btn-outline-danger btn-block"[routerLink]="['/heroes']" >Regresar...</a>
  </div>
  <div class="col-md-8">
    <h3>{{heroe.nombre}}</h3>
    <hr>
    <p>
        {{heroe.bio}}
    </p>

    <div>
      <img *ngIf="heroe.casa=='DC'"  class="img-logo" src="assets/img/DC.png" alt="" >
      <img *ngIf="heroe.casa!='DC'"  class="img-logo" src="assets/img/MARVEL.png" alt="">
    </div>
  </div>
</div>
